---
import { getCollection } from "astro:content";

const sections = await getCollection("sections");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Photography exhibition</title>
	</head>
	<body>
		<h1>Photography exhibition</h1>

		<p>
			This website contains the photos and texts produced by participants
			during a summer camp in 2025.
		</p>

		<h1>Sections</h1>

		{
			sections.map((section) => (
				<h2>{section.data.title}</h2>
				<p>{section.data.gallery.map(picture => <img src={picture} alt="A bird sitting on a nest of eggs." />)}</p>
				<p>{section.body}</p>
			))
		}

	</body>
</html>
